#streamlit
#pandas>=2.2

#scikit-learn
#scipy
#matplotlib
#plotly
#numpy
#tqdm
#seaborn
#astropy
#statsmodels
#scikit-gstat
#pykrige
#pillow
#noise
#imbalanced-learn	
#hdbscan


streamlit>=1.36

pandas>=2.2
numpy>=2.0
scipy>=1.11
matplotlib>=3.8
plotly>=5.18
tqdm>=4.66
pillow>=10.0
statsmodels>=0.14
astropy>=6.0
seaborn>=0.13

scikit-learn==1.6.1
imbalanced-learn==0.14.0

hdbscan==0.8.41
scikit-gstat==1.0.22
pykrige>=1.7
noise>=1.2
